<% if (errorCount || warningCount) { %>
    <div class="panel panel-default">
<% } else { %>
    <div class="panel panel-success">
<% } %>
    <div class="panel-heading">
        <h4>
            <div class="pull-right small">
                <% if (errorCount) { %>
                    <% if (errorCount === 1) { %>
                        <span class="label label-danger">1 error</span>
                    <% } else { %>
                        <span class="label label-danger"><%= errorCount %> errors</span>
                    <% } %>
                <% } %>

                <% if (warningCount) { %>
                    <% if (warningCount === 1) { %>
                        <span class="label label-warning">1 warning</span>
                    <% } else { %>
                        <span class="label label-warning"><%= warningCount %> warnings</span>
                    <% } %>
                <% } %>

                <% if (!errorCount && !warningCount) { %>
                    <span class="label label-success">
                        No errors or warnings
                    </span>
                <% } %>
            </div>

            Validation report for <a href="<%= fileUrl %>"><tt><b><%= targetFilename %></b></tt></a>

            <p class="small"><a href="http://eslint.org/docs/user-guide/configuring" class="open-external">How to configure ESLint</a>
            </p>
        </h4>
    </div>
    <ul class="list-group">
        <%
            for (var index = 0, len = issues.length; index !== len; ++index) {
                var issue = issues[index];
        %>
            <li class="list-group-item">
                <% if (issue.code[0] === 'E') { %>
                    <span class="symbol">&#10060;</span>
                <% } else if (issue.code[0] === 'W') { %>
                    <span class="symbol">&#9888;</span>
                <% } %>
                <a href="<%= issue.url %>">at line <%= issue.line %> position <%= issue.character %>:</a>&nbsp;
                <tt class="report">
                    <%= issue.reason %>
                    <% if (issue.shortname) { %>
                         (<a href="http://eslint.org/docs/rules/<%= issue.shortname %>.html" class="open-external"><%= issue.shortname %></a>)
                    <% } %>
                </tt>
            </li>
        <% } %>
    </ul>
</div>

<div class="small text-center">
    <a href="https://github.com/natesilva/javascript-eslint.tmbundle"
            class="open-external">
        javascript-eslint TextMate Bundle
    </a>
    <span class="version-number"></span>
    —
    <a href="#" class="update-checker">
        Check for new version
    </a>
    <span class="update-available hidden">
      <a class="label label-info open-external"
        href="https://github.com/natesilva/javascript-eslint.tmbundle/releases/latest">
        <span class="dingbat">✷</span> Update Available
      </a>
    </span>
    <span class="no-update hidden">
        You have the latest version
    </span>
    <span class="update-error text-danger hidden">
        Check for update failed
    </span>
</div>
